@import "tailwindcss";

@theme {
  --color-complementary: var(--color-blue-600);
  --color-complementary-lighter: var(--color-blue-400);
  --color-complementary-darker: var(--color-blue-800);

  --color-primary: var(--color-amber-600);
  --color-primary-lighter: var(--color-amber-500);
  --color-primary-darker: var(--color-amber-800);

  --color-bg-color: var(--color-slate-900);
  --color-text: var(--color-white);

  --color-secondary: var(--color-zinc-500);
  --color-secondary-darker: var(--color-zinc-700);

  --radius-base: var(--radius-lg);

  --animate-slide-from-bottom: slide-from-bottom 0.8s ease-in forwards;

  --sun-moon-stroke-width: 6;
}

@layer base {
  :root.light-mode {
    --color-bg-color: var(--color-white);
    --color-text: var(--color-black);
    --color-secondary: var(--color-zinc-50);
    --color-secondary-darker: var(--color-zinc-200);

    --color-complementary: var(--color-blue-500);
    --color-complementary-lighter: var(--color-blue-300);
    --color-complementary-darker: var(--color-blue-700);

    --color-primary-lighter: var(--color-amber-300);
    --color-primary-darker: var(--color-amber-700);
  }

  *,
  *::before,
  *::after,
  *:hover,
  *:focus {
    @apply outline-primary-lighter border-primary-lighter;
  }

  body,
  html {
    @apply bg-bg-color text-text text-xl;
    font-family: Raleway, sans-serif;
  }

  h1 {
    @apply text-5xl lg:text-6xl xl:text-8xl leading-16 md:leading-28;
  }

  h2 {
    @apply text-4xl;
  }

  h1,
  h2,
  h3 {
    @apply font-bold;
  }

  h3 {
    @apply text-2xl;
  }

  a {
    @apply underline underline-offset-4;
  }

  .btn {
    @apply bg-primary rounded-base px-3 py-2;
    box-shadow: 0.25rem 0.25rem 0 0 var(--color-primary-darker);

    &.active {
      @apply bg-primary-lighter translate-1 cursor-pointer;
      box-shadow: 0 0 0 0 var(--color-primary-lighter);
    }

    &:focus {
      outline-width: 0;
    }
  }

  .gradient {
    transition-property: filter;
    transition-duration: 300ms;
  }

  .gradient.complementary {
    @apply bg-gradient-to-br from-complementary-lighter to-complementary-darker;

    &:hover,
    &:focus {
      @apply -hue-rotate-30;
    }
  }

  .gradient.primary {
    @apply bg-gradient-to-br from-primary-lighter to-primary-darker;

    &:hover,
    &:focus {
      @apply -hue-rotate-30;
    }
  }

  .iconify {
    @apply hover:text-primary group-hover:text-primary group-focus:text-primary dark:hover:text-primary-darker dark:group-hover:text-primary-darker dark:group-focus:text-primary-darker group-hover:scale-110 group-focus:scale-110 transition-all duration-200;
  }

  p {
    @apply p-2;
  }

  @keyframes slide-from-bottom {
    0% {
      opacity: 0;
      transform: translateY(1rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
