@import "tailwindcss";
@import "./auth.css";
@import "./app.css";

@theme {
  --color-complementary: var(--color-blue-600);
  --color-complementary-lighter: var(--color-blue-400);
  --color-complementary-darker: var(--color-blue-800);

  --color-primary: var(--color-amber-600);
  --color-primary-lighter: var(--color-amber-500);
  --color-primary-darker: var(--color-amber-800);

  --color-muted: var(--color-gray-400);

  --color-success: var(--color-green-400);
  --color-error: var(--color-red-500);

  --color-bg-color: var(--color-slate-900);
  --color-text: var(--color-white);

  --color-secondary: var(--color-zinc-500);
  --color-secondary-darker: var(--color-zinc-700);

  --radius-base: var(--radius-lg);

  --animate-slide-from-bottom: slide-from-bottom 0.8s ease-in forwards;

  --sun-moon-stroke-width: 6;
}

@layer base {
  :root.light-mode {
    --color-bg-color: var(--color-white);
    --color-text: var(--color-black);
    --color-secondary: var(--color-zinc-50);
    --color-secondary-darker: var(--color-zinc-200);

    --color-muted: var(--color-gray-500);

    --color-complementary: var(--color-blue-500);
    --color-complementary-lighter: var(--color-blue-300);
    --color-complementary-darker: var(--color-blue-700);

    --color-primary-lighter: var(--color-amber-300);
    --color-primary-darker: var(--color-amber-700);
  }

  *,
  *::before,
  *::after,
  *:hover,
  *:focus {
    @apply outline-primary-lighter border-primary-lighter;
  }

  body,
  html {
    @apply bg-bg-color text-text text-xl;
    font-family: Raleway, sans-serif;
  }

  h1 {
    @apply text-5xl lg:text-6xl xl:text-8xl leading-16 md:leading-28;
  }

  h2 {
    @apply text-4xl;
  }

  h1,
  h2,
  h3 {
    @apply font-bold;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl text-secondary;
  }

  a {
    @apply underline underline-offset-4;
  }

  .btn {
    @apply bg-primary rounded-base px-3 py-2 transition-all duration-300;
    box-shadow: 0.25rem 0.25rem 0 0 var(--color-primary-darker);

    &.active {
      @apply bg-primary-lighter translate-1 cursor-pointer;
      box-shadow: 0 0 0 0 var(--color-primary-lighter);
    }

    &:focus {
      outline-width: 0;
    }

    &:disabled {
      @apply opacity-50 cursor-not-allowed;

      &:hover,
      &:focus {
        @apply bg-primary;
      }
    }
  }

  .btn-link {
    @apply rounded-base bg-complementary px-3 py-2 transition-all duration-300 shadow-md shadow-complementary-lighter decoration-0;

    &:focus,
    &:hover {
      @apply -translate-y-0.5;
    }
  }

  .alert {
    @apply p-2 m-2 rounded-base outline-1;
    animation: var(--animate-slide-from-bottom);

    &.success {
      @apply bg-success/30 outline-success;
    }

    &.error {
      @apply bg-error/30 outline-error;
    }
  }

  .clip-circle {
    clip-path: polygon(
      47.889% 2.626%,
      47.889% 2.626%,
      48.476% 2.214%,
      49.103% 1.893%,
      49.759% 1.663%,
      50.435% 1.526%,
      51.12% 1.48%,
      51.806% 1.526%,
      52.481% 1.663%,
      53.137% 1.893%,
      53.764% 2.214%,
      54.351% 2.626%,
      58.406% 5.923%,
      58.406% 5.923%,
      58.801% 6.214%,
      59.218% 6.463%,
      59.654% 6.671%,
      60.106% 6.836%,
      60.571% 6.957%,
      61.045% 7.035%,
      61.525% 7.068%,
      62.008% 7.056%,
      62.491% 6.998%,
      62.971% 6.893%,
      68.01% 5.536%,
      68.01% 5.536%,
      68.714% 5.398%,
      69.416% 5.359%,
      70.108% 5.416%,
      70.781% 5.564%,
      71.425% 5.8%,
      72.031% 6.12%,
      72.592% 6.519%,
      73.097% 6.994%,
      73.538% 7.54%,
      73.905% 8.154%,
      76.286% 12.847%,
      76.286% 12.847%,
      76.527% 13.271%,
      76.806% 13.667%,
      77.119% 14.032%,
      77.463% 14.366%,
      77.837% 14.665%,
      78.236% 14.927%,
      78.66% 15.152%,
      79.105% 15.337%,
      79.568% 15.48%,
      80.048% 15.58%,
      85.226% 16.397%,
      85.226% 16.397%,
      85.923% 16.557%,
      86.578% 16.807%,
      87.184% 17.139%,
      87.736% 17.547%,
      88.227% 18.022%,
      88.649% 18.559%,
      88.998% 19.148%,
      89.265% 19.785%,
      89.445% 20.46%,
      89.531% 21.168%,
      89.804% 26.462%,
      89.804% 26.462%,
      89.852% 26.945%,
      89.945% 27.418%,
      90.082% 27.877%,
      90.26% 28.319%,
      90.478% 28.742%,
      90.735% 29.142%,
      91.03% 29.518%,
      91.359% 29.866%,
      91.722% 30.184%,
      92.118% 30.469%,
      96.548% 33.347%,
      96.548% 33.347%,
      97.117% 33.775%,
      97.611% 34.268%,
      98.028% 34.816%,
      98.365% 35.411%,
      98.618% 36.042%,
      98.785% 36.701%,
      98.863% 37.38%,
      98.848% 38.067%,
      98.738% 38.756%,
      98.53% 39.436%,
      96.625% 44.399%,
      96.625% 44.399%,
      96.472% 44.86%,
      96.366% 45.329%,
      96.304% 45.802%,
      96.287% 46.278%,
      96.314% 46.751%,
      96.386% 47.221%,
      96.501% 47.682%,
      96.66% 48.133%,
      96.862% 48.569%,
      97.107% 48.988%,
      100% 53.444%,
      100% 53.444%,
      100.345% 54.066%,
      100.595% 54.716%,
      100.753% 55.386%,
      100.818% 56.065%,
      100.792% 56.744%,
      100.676% 57.414%,
      100.47% 58.065%,
      100.177% 58.687%,
      99.796% 59.271%,
      99.329% 59.808%,
      95.582% 63.557%,
      95.582% 63.557%,
      95.255% 63.917%,
      94.967% 64.302%,
      94.717% 64.71%,
      94.508% 65.138%,
      94.341% 65.583%,
      94.215% 66.041%,
      94.133% 66.51%,
      94.095% 66.986%,
      94.102% 67.467%,
      94.155% 67.949%,
      94.989% 73.197%,
      94.989% 73.197%,
      95.051% 73.905%,
      95.015% 74.602%,
      94.886% 75.279%,
      94.669% 75.927%,
      94.368% 76.538%,
      93.988% 77.104%,
      93.534% 77.616%,
      93.011% 78.067%,
      92.423% 78.447%,
      91.776% 78.748%,
      86.864% 80.633%,
      86.864% 80.633%,
      86.417% 80.829%,
      85.994% 81.065%,
      85.598% 81.338%,
      85.232% 81.645%,
      84.896% 81.985%,
      84.594% 82.354%,
      84.327% 82.75%,
      84.097% 83.171%,
      83.908% 83.615%,
      83.76% 84.08%,
      82.399% 89.184%,
      82.399% 89.184%,
      82.168% 89.859%,
      81.851% 90.484%,
      81.456% 91.052%,
      80.992% 91.558%,
      80.466% 91.996%,
      79.886% 92.36%,
      79.26% 92.644%,
      78.596% 92.844%,
      77.902% 92.952%,
      77.186% 92.964%,
      71.967% 92.685%,
      71.967% 92.685%,
      71.476% 92.683%,
      70.992% 92.726%,
      70.518% 92.815%,
      70.055% 92.947%,
      69.609% 93.121%,
      69.18% 93.336%,
      68.773% 93.591%,
      68.39% 93.884%,
      68.035% 94.214%,
      67.71% 94.58%,
      64.418% 98.66%,
      64.418% 98.66%,
      63.93% 99.185%,
      63.385% 99.629%,
      62.791% 99.989%,
      62.159% 100.264%,
      61.498% 100.451%,
      60.818% 100.548%,
      60.129% 100.554%,
      59.439% 100.466%,
      58.76% 100.282%,
      58.099% 100%,
      53.455% 97.623%,
      53.455% 97.623%,
      53.007% 97.421%,
      52.547% 97.264%,
      52.077% 97.151%,
      51.6% 97.084%,
      51.12% 97.061%,
      50.64% 97.084%,
      50.163% 97.151%,
      49.693% 97.264%,
      49.233% 97.421%,
      48.785% 97.623%,
      44.14% 100%,
      44.14% 100%,
      43.48% 100.282%,
      42.8% 100.466%,
      42.111% 100.554%,
      41.421% 100.548%,
      40.742% 100.451%,
      40.081% 100.264%,
      39.449% 99.989%,
      38.855% 99.629%,
      38.31% 99.185%,
      37.822% 98.66%,
      34.531% 94.58%,
      34.531% 94.58%,
      34.205% 94.214%,
      33.85% 93.884%,
      33.467% 93.591%,
      33.06% 93.336%,
      32.631% 93.121%,
      32.185% 92.947%,
      31.722% 92.815%,
      31.248% 92.726%,
      30.764% 92.683%,
      30.273% 92.685%,
      25.054% 92.964%,
      25.054% 92.964%,
      24.338% 92.952%,
      23.644% 92.844%,
      22.98% 92.645%,
      22.354% 92.36%,
      21.774% 91.996%,
      21.248% 91.558%,
      20.784% 91.053%,
      20.389% 90.484%,
      20.072% 89.86%,
      19.84% 89.184%,
      18.48% 84.08%,
      18.48% 84.08%,
      18.333% 83.615%,
      18.143% 83.171%,
      17.913% 82.75%,
      17.646% 82.354%,
      17.344% 81.985%,
      17.008% 81.645%,
      16.642% 81.338%,
      16.246% 81.065%,
      15.823% 80.829%,
      15.376% 80.633%,
      10.464% 78.748%,
      10.464% 78.748%,
      9.817% 78.447%,
      9.229% 78.067%,
      8.706% 77.617%,
      8.252% 77.105%,
      7.872% 76.539%,
      7.571% 75.928%,
      7.353% 75.279%,
      7.225% 74.603%,
      7.189% 73.906%,
      7.251% 73.197%,
      8.085% 67.949%,
      8.085% 67.949%,
      8.138% 67.467%,
      8.145% 66.986%,
      8.107% 66.51%,
      8.025% 66.041%,
      7.899% 65.583%,
      7.732% 65.138%,
      7.523% 64.71%,
      7.273% 64.302%,
      6.985% 63.917%,
      6.658% 63.557%,
      2.911% 59.808%,
      2.911% 59.808%,
      2.444% 59.271%,
      2.063% 58.687%,
      1.77% 58.065%,
      1.564% 57.414%,
      1.448% 56.744%,
      1.422% 56.065%,
      1.487% 55.386%,
      1.645% 54.716%,
      1.895% 54.066%,
      2.24% 53.444%,
      5.133% 48.988%,
      5.133% 48.988%,
      5.378% 48.569%,
      5.58% 48.133%,
      5.739% 47.682%,
      5.854% 47.221%,
      5.926% 46.751%,
      5.953% 46.278%,
      5.936% 45.802%,
      5.874% 45.329%,
      5.768% 44.86%,
      5.616% 44.399%,
      3.71% 39.436%,
      3.71% 39.436%,
      3.502% 38.756%,
      3.392% 38.067%,
      3.377% 37.38%,
      3.455% 36.701%,
      3.622% 36.042%,
      3.875% 35.411%,
      4.212% 34.816%,
      4.629% 34.268%,
      5.123% 33.775%,
      5.692% 33.347%,
      10.122% 30.469%,
      10.122% 30.469%,
      10.518% 30.184%,
      10.881% 29.866%,
      11.21% 29.518%,
      11.505% 29.142%,
      11.762% 28.742%,
      11.98% 28.319%,
      12.159% 27.877%,
      12.295% 27.418%,
      12.388% 26.945%,
      12.436% 26.462%,
      12.709% 21.168%,
      12.709% 21.168%,
      12.795% 20.46%,
      12.975% 19.785%,
      13.243% 19.148%,
      13.591% 18.559%,
      14.013% 18.022%,
      14.504% 17.547%,
      15.056% 17.139%,
      15.662% 16.807%,
      16.317% 16.557%,
      17.014% 16.397%,
      22.192% 15.58%,
      22.192% 15.58%,
      22.672% 15.48%,
      23.135% 15.337%,
      23.58% 15.152%,
      24.004% 14.927%,
      24.403% 14.665%,
      24.777% 14.366%,
      25.121% 14.032%,
      25.434% 13.667%,
      25.713% 13.271%,
      25.954% 12.847%,
      28.335% 8.154%,
      28.335% 8.154%,
      28.703% 7.54%,
      29.143% 6.994%,
      29.649% 6.519%,
      30.209% 6.12%,
      30.815% 5.8%,
      31.459% 5.564%,
      32.132% 5.416%,
      32.824% 5.359%,
      33.526% 5.398%,
      34.23% 5.536%,
      39.269% 6.893%,
      39.269% 6.893%,
      39.749% 6.998%,
      40.232% 7.056%,
      40.715% 7.068%,
      41.195% 7.035%,
      41.669% 6.957%,
      42.134% 6.836%,
      42.586% 6.671%,
      43.022% 6.463%,
      43.439% 6.214%,
      43.834% 5.923%,
      47.889% 2.626%
    );
  }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: 0.2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: 0.2em 0.2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 0.2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -0.2em 0.2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -0.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -0.2em -0.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -0.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: 0.2em -0.2em 0 0 currentcolor;
    }
  }

  .gradient {
    transition-property: filter;
    transition-duration: 300ms;
  }

  .gradient.complementary {
    @apply bg-gradient-to-br from-complementary-lighter to-complementary-darker;

    &:hover,
    &:focus {
      @apply -hue-rotate-30;
    }
  }

  .gradient.primary {
    @apply bg-gradient-to-br from-primary-lighter to-primary-darker;

    &:hover,
    &:focus {
      @apply -hue-rotate-30;
    }
  }

  .iconify {
    @apply hover:text-primary group-hover:text-primary group-focus:text-primary dark:hover:text-primary-darker dark:group-hover:text-primary-darker dark:group-focus:text-primary-darker group-hover:scale-110 group-focus:scale-110 transition-all duration-200;
  }

  p {
    @apply p-2;
  }

  @keyframes slide-from-bottom {
    0% {
      opacity: 0;
      transform: translateY(1rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
