@import "tailwindcss";

@theme {
  --color-primary: var(--color-indigo-800);
  --color-primary-lighter: var(--color-indigo-700);
  --color-primary-darker: var(--color-indigo-900);

  --color-bg-color: var(--color-slate-900);
  --color-text: var(--color-white);

  --radius-base: var(--radius-md);
}

@layer base {
  *,
  *::before,
  *::after,
  *:hover,
  *:focus {
    transition: all 150ms ease-in-out;
    @apply outline-primary-lighter border-primary-lighter;
  }

  body {
    @apply bg-bg-color p-1 text-text;
    font-family: Raleway, sans-serif;
    @apply text-xl;
  }

  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply text-2xl;
  }

  a {
    @apply underline underline-offset-4;
  }

  .btn {
    @apply bg-primary rounded-base px-3 py-2;
    box-shadow: 0.25rem 0.25rem 0 0 var(--color-primary-darker);

    &.active {
      @apply bg-primary-lighter translate-1 cursor-pointer;
      box-shadow: 0 0 0 0 var(--color-primary-lighter);
    }

    &:focus {
      outline-width: 0;
    }
  }
}
